<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<!-- Footer -->
<footer class="main-footer">
    <strong>Copyright &copy; 2022 <a href="https://github.com/cahyajuliannn">Cahya Julian</a>. Full-time dreamer, Part-time achiever.</strong>

    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> CJ 1.0
    </div>
</footer>
<!-- End of Footer -->
</html>
